<!DOCTYPE HTML>

<html>
<head>
	<title>Iliyan Ganev</title>
	<meta charset="utf-8" /> 
	<meta name="description" content="iliyan ganev, portfolio, resume">
  <meta name="keywords" content="Iliyan Ganev, iliyan ganev, iliyanganev, portfolio, resume, front end developer, web developer, full stack developer, web design, Ruby, JavaScript, Ruby on Rails, HTML, CSS">
  <meta name="author" content="Iliyan Ganev">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body class="landing">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="/">Iliyan Ganev</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/#two">Projects</a></li>
								<li><a href="/#three">Tech stack</a></li>
								<li><a href="/#contact">Contact</a></li>
								<li><a href="resume">Resume</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Iliyan Ganev</h2>
				<p>Web Developer<br />

					<ul class="actions">
						<li><a href="#two" class="button special scrolly">Projects</a></li>
					</ul>
				</div>

				<a href="#one" class="more scrolly">Learn More</a>
			</section>

			<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Creative Web developer eager to build a better future<br />
						</h2>
						<p>I build beautiful and useful things using Ruby on Rails, <br />
						JavaScript, jQuery, HTML5, CSS3, SASS and PostgreSQL.</p>
					</header>
					<ul class="icons major">
						<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
						<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
						<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
					</ul>
				</div>
			</section>

			<!-- Two -->
			<section id="two" class="wrapper alt style2">
				<section class="spotlight">
					<div class="image"><img src="images/pic01.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal04').style.display='block'"/>
						<div id="modal04" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/weather1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content">
						<h2>Weather-SMS<br />
						</h2>
						<p>Weather is a fully responsive forecast application that utilizes Twilio and WU APIs, enabling users(registered with valid US phone number) to check weather using text messaging.The forecasts available to all users are: 5 day, 10 day, hourly 5 day and hourly 10 day. In addition forecast history can be traced back up to 60 years for some cities. Registered users have the option to check their search history.</p>
						<a style="background-color: grey;" href="https://weather--sms.herokuapp.com/" class="button special">Live</a>
						<a href="https://github.com/IliyanGanev/weather-sms" class="button special icon fa-github">Github</a>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="images/bloke(8).png" alt="" style= "width: 100%; cursor:zoom-in" onclick="document.getElementById('modal03').style.display='block'"/>
						<div id="modal03" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/bloke1.png" style="width:100%">
							</div>
						</div>
					</div>

					<div class="content">
						<h2>BlokeBlog<br />
						</h2>
						<p>Professional grade sample app featuring advanced security login and authentication framework. Registered users can create posts, upload pictures and follow other peoples activity.</p>
						<a style="background-color: grey;" href="https://blokeblog.herokuapp.com/" class="button special">Live</a>
						<a href="https://github.com/IliyanGanev/blokeblog" class="button special icon fa-github">Github</a>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="images/movies.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal02').style.display='block'"/>
						<div id="modal02" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/movies1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content">
						<h2>Crab-movies<br /></h2>
						<p>Client team project providing data about the top 250 movies. Users can rate and review movies and actors. Data obtained from IMDB.</p>
						<a style="background-color: grey;" href="http://crabmovies.herokuapp.com/" class="button special">Live</a>
						<a href="https://github.com/IliyanGanev/crab-movies" class="button special icon fa-github">Github</a>
					</div>
				</section>
				<section class="spotlight">	
					<div class="image"><img src="images/habits.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal01').style.display='block'"/>
						<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/habits1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content">
						<h2>Daily Habits<br />
						</h2>
						<p>Journaling application that allows users to log daily activity via texting. Provides meaningful data on users daily habits. Built in five days with a team of five.</p>
						<a style="background-color: grey;" href="https://dailyhabits.herokuapp.com/" class="button special">Live</a>
						<a href="https://github.com/IliyanGanev/daily-habits" class="button special icon fa-github">Github</a>
					</div>
				</section>
				<section class="spotlight">
					<div class="image">
						<iframe src="untitled" width="600" height="400" scrolling="no">
							<p>Your browser does not support iframes.</p>
						</iframe>
					</div><div class="content">
						<h2>Biohazard molecule<br />
						</h2>
						<p>It is a simple experiment with three.js 3D geometry.</p>
						<a style="background-color: grey;" href="untitled" class="button special">Full screen</a>
					</div>
				</section>
			</section>

			<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major">
						<h2>About<br />
						</h2>
						<p>At the moment I am concentrating on Front End Development. During my Devbootcamp experience the focus was mainly on Back End. That provided a solid (data)base knowledge to build on.</p>
					</header>
					<ul class="features">
						<li class="icon fa-code">
							<h3>Tech stack</h3>
							<p>Ruby, Rails, JavaScript, Sinatra, jQuery, Ajax, HTML5 / CSS3, SASS, Active Record, SQLite, PostgreSQL, RSpec, Jasmine, Capybara, TDD, Git, Agile, Scrum, Bootstrap, Heroku.</p>
						</li>
						<li class="icon fa-paper-plane-o">
							<h3>Exposure</h3>
							<p>three.js, PHP, React, React Native, AWS, Redux.</p>
						</li>
						<li class="icon fa-laptop">
							<h3>Software</h3>
							<p>Adobe Premiere<br />
								Adobe Photoshop<br />
							3dsMax</p>
						</li>
						<li class="icon fa-headphones">
							<h3>Music Production</h3>
							<p>FL Studio<br />
								Reason<br />
								Ableton Live
							</p>
						</li>
					</ul>
				</div>
			</section>
			<!-- CTA -->
			<!-- 
			<section id="cta" class="wrapper style4">
				<div class="inner">
					<ul class="actions vertical">
						<li><a href="#" class="button fit special">Activate</a></li>
						<li><a href="#" class="button fit">Learn More</a></li>
					</ul>
				</div>
			</section> -->
			<section id="contact">
				<section  id="cta" class="wrapper style4">
					<div class="inner">
						<!-- Contact -->
						<section class="main style3 secondary">
							<div class="content">
								<header style="width: 100%;
								text-align: center;">
								<h2>Say Hello.</h2>
								<p>Shoot me an email. I will be happy to share ideas or have some tea/coffee and talk.</p>
							</header>
							<div class="box">
								<form method="post" action="mailto:ganeviliyan@gmail.com">
									<div class="field half first"><input type="text" name="name" placeholder="Name" /></div>
									<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
									<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</div>
						</div>
					</section>
				</div>
			</section>
		</section>


		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://github.com/IliyanGanev" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://www.linkedin.com/in/iliyan-ganev-6a940763" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://www.instagram.com/botilko/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>

				<li><a class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="mailto:ganeviliyan@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; 2017 No rights reserved</li>
			</ul>
		</footer>
		

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>
	</div>	
</body>
</html>