<!DOCTYPE HTML>

<html>
<head>
	<title>Iliyan Ganev</title>
	<meta charset="utf-8" /> 
	<meta name="description" content="iliyan ganev, portfolio, resume">
  <meta name="keywords" content="Iliyan Ganev, iliyan ganev, iliyanganev, portfolio, resume, front end developer, web developer, full stack developer, web design, Ruby, JavaScript, Ruby on Rails, React, reactjs, Vue,  HTML, CSS">
  <meta name="author" content="Iliyan Ganev">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body class="landing">
	<%= erb :_three %>
	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1 class="fa fa-chevron-up" href="/" style="color: #00caf5" ></h1><h1><a style="padding-left:1.5em; color: #00caf5;text-transform: lowercase;" href="/">goto the top</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/#banner">Home</a></li>
								<li><a href="/#two">Projects</a></li>
								<li><a href="/#three">Tech stack</a></li>
								<li><a href="/#contact">Contact</a></li>
								<li><a href="resume">Resume</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Iliyan Ganev</h2><br /><br />

					<ul class="actions">
						<li><a href="#two" class="button special scrolly">Projects</a></li>
					</ul>
				</div>

				<a href="#one" class="more scrolly">Learn More</a>
			</section>

			<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Web design and development<br />
						</h2>
						<p>Building things, using Ruby on Rails, React, <br />
						JavaScript, ES6, jQuery, HTML5, CSS3, SASS and PostgreSQL...</p>
					</header>
					<ul class="icons major">
						<li><span class="icon fa-diamond major style1"><span class="label"></span></span></li>
						<li><span class="icon fa-heart-o major style2"><span class="label"></span></span></li>
						<li><span class="icon fa-code major style3"><span class="label"></span></span></li>
					</ul>
				</div>
			</section>

			<!-- Two -->


			<section id="two" class="wrapper alt style2">

					<section class="spotlight" style="background-color: rgba(0, 0, 0, 0.725);">
					<div class="image"><img src="images/crypto.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal049').style.display='block'"/>
						<div id="modal049" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/weather1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content icon" style="z-index:1;">
						<h2>Crypto<br />
						</h2>
						<p>Fully responsive web app built with React. Provides useful information about 100 most popular cryptocurrencies. Info is fetched every 6 seconds from the API.</p>
						<a style="border: 1px solid #1fcaa7;" href="https://cryptocurrencywatch.herokuapp.com/" class="button special icon fa-binoculars">Live</a>
						<a href="https://github.com/IliyanGanev/cryptocurrency-watch" class="button special icon fa-github">Github</a>
					</div>
				</section>




				<section class="spotlight" style="background-color: rgba(0, 0, 0, 0.725);">
					<div class="image"><img src="images/weather.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal04').style.display='block'"/>
						<div id="modal04" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/weather1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content icon" style="z-index:1;">
						<h2>Weather-SMS<br />
						</h2>
						<p>Fully responsive forecast application that utilizes Twilio and WU APIs, enabling users(registered with valid US phone number) to check weather using text messaging.The forecasts available to all users are: 5 day, 10 day, hourly 5 day and hourly 10 day. Weather conditions can be traced back, up to 30 years for some cities.</p>
						<a style="border: 1px solid #1fcaa7;" href="https://weather--sms.herokuapp.com/" class="button special icon fa-binoculars">Live</a>
						<a href="https://github.com/IliyanGanev/weather-sms" class="button special icon fa-github">Github</a>
					</div>
				</section>


				<section class="spotlight">
					<div class="image"><img src="images/tic.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal06').style.display='block'"/>
						<div id="modal06" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/tic.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content icon" style="z-index:1;">
						<h2>tictactile.net<br />
						</h2>
						<p>Architect's portfolio site.</p>
						<a style="border: 1px solid #1fcaa7;" href="http://www.tictactile.net/" class="button special icon fa-binoculars">Live</a>
						<a href="https://github.com/IliyanGanev/tictactile" class="button special icon fa-github">Github</a>
					</div>
				</section>


				<section class="spotlight" style="background-color: rgba(0, 0, 0, 0.725);">
					<div class="image"><img src="images/blok.png" alt="" style= "width: 100%; cursor:zoom-in" onclick="document.getElementById('modal03').style.display='block'"/>
						<div id="modal03" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/bloke1.png" style="width:100%">
							</div>
						</div>
					</div>

					<div class="content icon" style="z-index:1;">
						<h2>BlokeBlog<br />
						</h2>
						<p>Professional grade sample app featuring advanced security login and authentication framework. Registered users can create posts, upload pictures and follow other peoples activity.</p>
						<a style="border: 1px solid #1fcaa7;" href="https://blokeblog.herokuapp.com/" class="button special icon fa-binoculars">Live</a>
						<a href="https://github.com/IliyanGanev/blokeblog" class="button special icon fa-github">Github</a>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="images/movie.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal02').style.display='block'"/>
						<div id="modal02" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/movies1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content icon" style="z-index:1;">
						<h2>Crab-movies<br /></h2>
						<p>Client team project providing data about the top 250 movies. Users can rate and review movies and actors. Data obtained from IMDB.</p>
						<a style="border: 1px solid #1fcaa7;" href="http://crabmovies.herokuapp.com/" class="button special icon fa-binoculars">Live</a>
						<a href="https://github.com/IliyanGanev/crab-movies" class="button special icon fa-github">Github</a>
					</div>
				</section>



				<section class="spotlight" style="background-color: rgba(0, 0, 0, 0.725);">
					<div class="image">
						<iframe src="untitled" width="100%" height="400px" scrolling="no" >
							<p>Your browser does not support iframes.</p>
						</iframe>
					</div><div class="content icon" style="z-index:1;">
						<h2>Biohazard molecule<br />
						</h2>
						<p>An experiment with three.js 3D geometry.</p>
						<a href="untitled" class="button special icon fa-binoculars">Full screen</a>
					</div>
				</section>





				<section class="spotlight">	
					<div class="image"><img src="images/habit.png" alt="" style= "width: 100%;cursor:zoom-in" onclick="document.getElementById('modal01').style.display='block'"/>
						<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
							<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
							<div class="w3-modal-content w3-animate-zoom">
								<img src="images/habits1.png" style="width:100%">
							</div>
						</div>
					</div>
					<div class="content icon" style="z-index:1;">
						<h2>Daily Habits<br />
						</h2>
						<p>Journaling application that allows users to log daily activity via texting. Provides meaningful data on users daily habits. Built in five days with a team of five.</p>
						<a style="border: 1px solid #1fcaa7;" href="https://dailyhabits.herokuapp.com/" class="button special icon fa-binoculars">Live</a>
						<a href="https://github.com/IliyanGanev/daily-habits" class="button special icon fa-github">Github</a>
					</div>
				</section>


			</section>

			<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major">
						<h2>About<br />
						</h2>
						<p>Full-Stack Web Development and Computer Graphics. </p>
					</header>
					<ul class="features">
						<li class="icon fa-code">
							<h3>Tech stack</h3>
							<p>Ruby, Rails, JavaScript, ES6, React, Redux, Vue.js, AngularJS, Sinatra, jQuery, HTML5 / CSS3, SASS, Active Record, SQLite, PostgreSQL, RSpec, Jasmine, Capybara, TDD, Git, Agile, Scrum, Bootstrap, Heroku...</p>
						</li>
						<li class="icon fa-paper-plane-o">
							<h3>Exposure</h3>
							<p>three.js, MongoDB, Express.js, Node.js, PHP, React Native, Selenium, AWS...</p>
						</li>
						<li class="icon fa-laptop">
							<h3>Software</h3>
							<p>Adobe Premiere<br />
								Adobe Photoshop<br />
							3dsMax</p>
						</li>
						<li class="icon fa-headphones">
							<h3>Music Production</h3>
							<p>FL Studio<br />
								Reason<br />
								Ableton Live
							</p>
						</li>
					</ul>
				</div>
			</section>
			<!-- CTA -->
			<!-- 
			<section id="cta" class="wrapper style4">
				<div class="inner">
					<ul class="actions vertical">
						<li><a href="#" class="button fit special">Activate</a></li>
						<li><a href="#" class="button fit">Learn More</a></li>
					</ul>
				</div>
			</section> -->
			<section id="contact" >
				<section  id="cta" class="wrapper style4 icon">
					<div class="inner">
						<!-- Contact -->
						<section class="main style3 secondary" style="z-index:1;">
							<div class="content">
								<header style="width: 100%;
								text-align: center;">
								<h2>Say Hello.</h2>
								<p>Shoot me an email. I will be happy to share ideas or have some tea/coffee and talk.</p>
							</header>
							<div class="box" >
								<form method="post" action="mailto:ganeviliyan@gmail.com">
									<div class="field half first"><input type="text" name="name" placeholder="Name" /></div>
									<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
									<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</div>
						</div>
					</section>
				</div>
			</section>
		</section>


		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://github.com/IliyanGanev" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://www.linkedin.com/in/iliyan-ganev-6a940763" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://www.instagram.com/botilko/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>

				<li><a class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="mailto:ganeviliyan@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; 2018 No rights reserved</li>
			</ul>
		</footer>
		

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>
	</div>	
</body>
</html>