<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>My Resume</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a style="color: #00caf5;text-transform: lowercase;" href="/">IliyanGanev</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/#banner">Home</a></li>
								<li><a href="/#two">Projects</a></li>
								<li><a href="/#three">Tech stack</a></li>
								<li><a href="/#contact">Contact</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main" style="color: red;">
			<header>
				<h2 style="margin-top: -2em;">Resume</h2>
				<div class="w3-container w3-center w3-animate-bottom">
				<object width="70%" height="1100px" data="images/Iliyan-Ganev-Resume.pdf"></object>
			
			</header>
		</article>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://github.com/IliyanGanev" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://www.linkedin.com/in/iliyan-ganev-6a940763" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://www.instagram.com/botilko/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="mailto:ganeviliyan@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; 2018 No rights reserved</li>
			</ul>
		</footer>



		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>
	</div>
</body>
</html>